/* markdown */
.nuxt-content h2 {
  margin: 1em 0;
}

.nuxt-content h2:not(:first-of-type) {
  padding-top: 10px;
}

.nuxt-content p,
.nuxt-content ul,
.nuxt-content ol {
  line-height: 40px;
}

.nuxt-content :not(pre) > code {
  font-size: 16px;
  background: #ecd9cc;
  letter-spacing: 0;
  padding: 4px 6px;
  border-radius: 6px;
  color: #943d24;
}

.nuxt-content pre {
  margin: 0.5em 0;
  overflow: auto;
  letter-spacing: 0;
  padding: 1em;
  border-radius: 8px;
  font-size: 16px;
  background-color: #1e293b;
  color: #fff;
}

.nuxt-content table {
  display: block;
  width: 100%;
  overflow: auto;
}

.nuxt-content table th,
.nuxt-content table td {
  padding: 6px 13px;
  border: 1px solid #943d24;
}

.nuxt-content b {
  background-color: #c89fa1;
}

.nuxt-content .token.operator {
  background-color: transparent;
}

.nuxt-content .token.variable {
  color: #d98b00;
}

.nuxt-content :is(h1,h2,h3,h4,h5,h6) > a {
  color: #464646;
  text-decoration: none;
  word-break: break-word;
}

.nuxt-content :not(h1,h2,h3,h4,h5,h6) a {
  color: #943d24;
}

.nuxt-content p a {
  margin: 0 3px;
}
