/* markdown */
.nuxt-content h2 {
  margin: 1em 0;
}

.nuxt-content h2:not(:first-of-type) {
  padding-top: 10px;
}

.nuxt-content p, .nuxt-content ul, .nuxt-content ol {
  line-height: 30px;
}

.nuxt-content :not(pre) > code,
.nuxt-content pre[class*='language-'] {
  font-size: 16px;
  background: #efe2d9;
}

.nuxt-content :not(pre) > code {
  padding: 4px;
  color: #c1622b;
}

.nuxt-content table {
  display: block;
  width: 100%;
  overflow: auto;
}

.nuxt-content table th,
.nuxt-content table td {
  padding: 6px 13px;
  border: 1px solid #c77a7a;
}

.nuxt-content b {
  background-color: #c9989a;
}

.nuxt-content .token.operator {
  background-color: transparent;
}

.nuxt-content .token.variable {
  color: #d98b00;
}
