/* markdown */
.nuxt-content h2 {
  margin: 1em 0;
}

.nuxt-content h2:not(:first-of-type) {
  padding-top: 10px;
}

.nuxt-content :not(pre) > code[class*='language-'],
.nuxt-content pre[class*='language-'] {
  background: #efe2d9;
}

.nuxt-content code[class*='language-'],
.nuxt-content pre[class*='language-'] {
  font-size: 1.2em;
}

.nuxt-content table {
  display: block;
  width: 100%;
  overflow: auto;
}

.nuxt-content table th, .nuxt-content table td {
  padding: 6px 13px;
  border: 1px solid #c77a7a;
}

.nuxt-content b {
  background-color: #c9989a;
}
